.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.left-nav {
  font-size: 15px;
  > ul {
    > li {
      margin: 5px;
    }
  }

  span {

  }
}

.right-nav  {
  
  > ul {

    > li {
      margin: 5px;
    }

    > li:last-of-type {
      font-size: 30px;
    }
  }
  
  i {

  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: rgb(161, 160, 160);
}
