<h1>New User</h1>

<form>
  <label for="user_name">Username: </label>
  <input type="text" id="user_name" name="user[user_name]">
  <br>

  <label for="password">Password: </label>
  <input type="password" id="password" name="user[password]">
  <br>

  <input SUBMIT BUTTON>
</form>
